*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
notification.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
gradle/gradle-daemon-jvm.properties
